.container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.imgAndDescContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  align-items: center;
}
