:root {
  --primary-color: #e6dcb1;
  --secondary-color: #bd3634;
  --tertiary-color: #034f1b;
  --quaternary-color: #047327;
  --accent-color: #ceac5c;
  --foreground-color: #7e121d;
  --background-color: #022f0f;
  --white-color: #eee;
  --gray-color: #aaa;
  --black-color: #111;
}
