.mainWrapper {
  height: 100vh;
  background-color: var(--background-color);
}

.mainWrapper::after {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(http://www.transparenttextures.com/patterns/textured-paper.png);
  background-position: center;
}

.mainContainer {
  position: absolute;
  top: 0;
  transform: translateX(50%);
  width: 100vw;
  height: 100vh;
  background-color: var(--foreground-color);
  z-index: 10;
}
